
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

//sectioning
.section-full { padding: 150px 0;}
.section      { padding: 75px 0;}
.top-half     { padding-top: 75px;}
.top-full     { padding-top: 150px;}
.bottom-half  { padding-bottom: 75px;}
.bottom-full  { padding-bottom: 150px;}
.relative     { position: relative;}
.block        { display: block;}
.inline       { display: inline-block;}
.radius       { border-radius: 3px;}
.w100         { width: 100%}
.danger       { color: #ff4951;}
.ov-hidden    { overflow: hidden;}
.z-index-1    { z-index: 1;}
.z-index-2    { z-index: 2;}
.border-radius{ border-radius: $border-radius;}
.bottom-border{ border-bottom: 1px solid $border-color;}

.roboto {font-family: $font-stack;}
.oswald {font-family: $oswald;}


// margin top
.mt-10       { margin-top: 10px;}
.mt-15       { margin-top: 15px;}
.mt-20       { margin-top: 20px;}
.mt-25       { margin-top: 25px;}
.mt-30       { margin-top: 30px;}
.mt-35       { margin-top: 35px;}
.mt-40       { margin-top: 40px;}
.mt-50       { margin-top: 50px;}
.mt-60       { margin-top: 60px;}
.mt-70       { margin-top: 70px;}
.mt-80       { margin-top: 80px;}
.mt-90       { margin-top: 90px;}
.mt-100      { margin-top: 100px;}
// margin-bottom
.mb-0        { margin-bottom: 0px;}
.mb-5        { margin-bottom: 5px;}
.mb-10       { margin-bottom: 10px;}
.mb-15       { margin-bottom: 15px;}
.mb-20       { margin-bottom: 20px;}
.mb-25       { margin-bottom: 25px;}
.mb-30       { margin-bottom: 30px;}
.mb-40       { margin-bottom: 40px;}
.mb-50       { margin-bottom: 50px;}
.mb-60       { margin-bottom: 60px;}
.mb-70       { margin-bottom: 70px;}
.mb-80       { margin-bottom: 80px;}
.mb-90       { margin-bottom: 90px;}
.mb-100      { margin-bottom: 100px;}
// margin left
.ml-5        { margin-left: 5px;}
.ml-10       { margin-left: 10px;}
.ml-15       { margin-left: 15px;}
.ml-20       { margin-left: 20px;}
.ml-25       { margin-left: 25px;}
.ml-30       { margin-left: 30px;}
.ml-40       { margin-left: 40px;}
.ml-50       { margin-left: 50px;}
// margin right
.mr-5        { margin-right: 5px;}
.mr-10       { margin-right: 10px;}
.mr-15       { margin-right: 15px;}
.mr-20       { margin-right: 20px;}
.mr-25       { margin-right: 25px;}
.mr-30       { margin-right: 30px;}
.mr-40       { margin-right: 40px;}
.mr-50       { margin-right: 50px;}

// font-weight
.fw-700 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
}
.fw-500   { font-weight: 500;}
.fw-400   { font-weight: 400;}
.fw-300   { font-weight: 300;}
.fz-12    { font-size: 12px;}
.fz-16    { font-size: 16px;}
.fz-20    { font-size: 20px;}
.letter-spacing { letter-spacing: 0.1em; }

// css flexible box
.flex          { @include flexbox();}
.inline-flex   { @include inline-flex();}
.flex-middle   { @include align-items(center);}
.flex-grow-1   { @include flex-grow(1);}
.flex-flow-rw  { @include flex-flow(row wrap);}
.flex-center   { @include justify-content(center);}
.flex-top      { @include align-self (flex-start);}
.flex-bottom   { @include align-self (flex-end);}
.flex-right    { @include justify-content(flex-end);}
.flex-left     { @include justify-content(flex-start);}
.space-between { @include justify-content(space-between);}

// row without gutter
.no-gutter {
    margin-left: 0;
    margin-right: 0;
    & > [class^="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}

//colors
.primary-color   { color: $primary-color;}
.primary-bg      { background-color: $primary-color;}
.secondery-color { color: $secondery-color;}
.tertiary        { color: $tertiary-color;}
.text-light      { color: #fff;}
.link-light      { color: #fff;&:hover,&:focus{color: #fff;}}
.default-shadow  { box-shadow: $box-shadow;}
.facebook        { background-color: $facebook;}
.twitter         { background-color: $twitter;}
.gplus           { background-color: $gplus;}
.dribbble        { background-color: $dribbble;}
.pinterest       { background-color: $pinterest;}
.behance         { background-color: $behance;}
.youtube         { background-color: $youtube;}
.linkedin        { background-color: $linkedin;}
.link-dark {
    color: $text-dark;
    &:hover {
        color: $primary-color;
    }
}
.link-underline:hover {text-decoration: underline;}
.link-primary,
.link-primary:hover  {
    color: $primary-color;
}
.text-color     { color: $text-color;}
.text-dark      { color: $text-dark;}
.ov-visible     { overflow: visible; }

.white-bg  { background-color: #fff;}
.gray-bg-1 {background-color: $gray-bg-1}
.gray-bg-2 {background-color: $gray-bg-2}
.gray-bg-3 {background-color: $gray-bg-3}

.btn {
    border: 0;
    border-radius: 3px;
    font-weight: 500;
    display: inline-block;
    padding: 0 12px;
    @include transition(all 0.3s ease 0s);
}
.btn-wide {
    border: 0 none;
    height: 50px;
    line-height: 49px;
    padding-left: 60px;
    padding-right: 60px;
}
.btn-md {
    border: 0 none;
    height: 50px;
    line-height: 49px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-mid {
    height: 35px;
    line-height: 34px;
    padding: 0 30px;
}
.btn-round {
    border-radius: 50px;
}
.btn-shadow {
    box-shadow: $box-shadow;
    &:hover {
        box-shadow: $box-shadow;
    }
}
.btn-theme {
    background-color: $primary-color;
    color: #fff;
    &:hover, &:focus {
        background-color: #fff;
        box-shadow: $box-shadow;
        color: $primary-color;
    }
}
.btn-white {
    background-color: #fff;
    &:hover {
        color: $primary-color;
    }
}
.btn-dark {
    background-color: #212121;
    color: #fff;
}
.btn-border {
    border: 1px solid $border-color;
    &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;
    }
}
.btn-white-border {
    background-color: #fff;
    border: 1px solid #fff;
    &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;
    }
}
.btn-white-border-tp {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;
    }
}
.btn-tertiary {
    background-color: $tertiary-color;
    color: #fff;
    &:hover {
        color: #fff;
    }
}

.custom-radio {
    + .custom-radio {
        margin-left: 25px;
    }
    input {
        margin: 0;
        opacity: 0;
        visibility: hidden;
        &:checked + label::after {
            @include transform(translate(-100%, -50%) scale(1));
        }
    }
    label {
        font-weight: 300;
        cursor: pointer;
        margin: 0;
        padding-left: 8px;
        position: relative;
        &::before {
            background-color: $primary-color;
            border-radius: 15px;
            content: "";
            height: 15px;
            left: -1px;
            position: absolute;
            top: 50%;
            width: 15px;
            @include transform(translate(-100%, -50%));
        }
        &::after {
            border-radius: 25px;
            box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.12);
            content: "";
            height: 25px;
            left: 4px;
            position: absolute;
            top: 50%;
            transition: all 0.3s ease 0s;
            width: 25px;
            z-index: 1;
            @include transition(all 0.3s ease 0s);
            @include backface-visibility(hidden);
            @include transform(translate(-100%, -50%) scale(0));
        }
    }
    &.right {
        input {
            float: right;
            position: absolute;
            right: 0;
        }
        label {
            float: left;
            padding: 0 30px 0 0;
            &::before {
                left: auto;
                right: -1px;
                @include transform(translate(0, -50%));
            }
            &::after {
                left: auto;
                right: -31px;
                @include transform(translate(-100%, -50%) scale(0));
            }
        }
    }
}

[class^="parallax-"] {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.cover-bg {
    background-repeat: no-repeat;
    background-size: cover;
}
.bgp-center {
    background-position: center;
}
.bgs-contain {
    background-size: contain;
}
.bgs-100 {
    background-size: 100%;
}

.overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.input-group {
    display: block;
    position: relative;
    + .input-group {
        margin-top: 30px;
    }
    .form-control {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        float: none;
        &:focus {
            box-shadow: none;
        }
    }
    & > input,
    & > textarea {
        border: 0;
        font-weight: 300;
        height: 40px;
        padding: 0;
        width: 100%;
        @include transition (all 0.3s ease 0s);
    }
    & > textarea {
        display: block;
        height: 100px;
    }
    & > label {
        display: block;
        font-weight: 400;
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        @include transition (all 0.3s ease 0s);
        &.error {
            color: red;
            position: static;
        }
    }
    &::before,
    &::after {
        background-color: $text-color;
        bottom: 0;
        content: "";
        height: 1px;
        left: 50%;
        position: absolute;
        width: 0;
        @include transform(translateX(-50%));
        @include transition (all 0.3s ease 0s);
    }
    &::before {
        background-color: rgba($text-color, 0.38);
        width: 100%;
    }
    .submit {
        background-color: #fff;
        border: 0 none;
        line-height: 40px;
        padding-left: 0;
    }
    &.active {
        &::after {
            width: 100%;
        }
        & > label {
            font-size: 11px;
            top: -20px;
            &.error {
                width: 100%;
            }
        }
    }
    &.light {
        &::before,
        &::after {
            background-color: #fff;
        }
        &::before {
            background-color: rgba(#fff, 0.38);
        }
        & > input,
        & > textarea {
            background-color: transparent;
            color: #fff;
        }
        & > label {
            color: #fff;
        }
        .submit {
            background-color: transparent;
            color: #fff;
        }
    }
    &.error:after {
        background-color: red;
        width: 100%;
    }
    .selectize-control {
        .selectize-input {
            background: none;
        }
    }
    .selectize-input {
        input {
            color: $text-color;
            font-weight: 300;
        }
    }
}

.msg-success,
.msg-error {
    border: 2px solid;
    display: none;
    font-size: 16px;
    margin-top: 25px;
    padding: 5px 20px;
}
.msg-success {
    color: lightgreen;
}
.msg-error {
    color: #ff0000;
}

.section-title {

}

.dots-one {
    padding-bottom: 108px;
    .owl-dots,
    .slick-dots {
        bottom: 0;
        left: 0;
        @include align-items(flex-end);
        @include flexbox();
    }
    &.center {
        .slick-dots,
        .owl-dots {
            position: absolute;
            right: 0;
            @include justify-content(center);
        }
    }
    .slick-dots li {
        cursor: pointer;
        button {
            display: none;
        }
    }
    .slick-dots li,
    .owl-dot {
        background-color: $text-color;
        border-radius: 10px;
        height: 8px;
        margin: 0 5px;
        opacity: 1;
        width: 8px;
        @include transition(all 0.3s ease 0s);
        &.slick-active,
        &.active {
            background-color: $text-dark;
            height: 20px;
        }
    }
    &.primary {
        .slick-dots li,
        .owl-dot {
            background-color: $primary-color;
        }
    }
    &.light {
        .slick-dots li,
        .owl-dot {
            background-color: #dfe0e1;
        }
    }
}









