// colors
$primary-color	  : #aa0a5f;          // magenta
$secondery-color  : #571d62;          // purple
$tertiary-color   : #16aced;          // purple
$text-color		  : #696969;          // dark gray
$text-dark    	  : #000;          	  // solid dark
$gray-bg-1    	  : #f7f7f7;          // gray
$gray-bg-2    	  : #eeeeee;          // gray
$gray-bg-3   	  : #f3f3f3;          // gray
$border-color 	  : rgba(#000, 0.1);  // light gray
$box-shadow   	  : 0px 1px 10px 0px rgba(#000, 0.08);

//    Social icon Colors
$twitter:    #17bbf6;
$facebook:   #3b599a;
$linkedin: 	 #1385c4;
$dribbble:   #f5699a;
$behance:  	 #1276ff;
$pinterest:  #fc3030;
$gplus: 	 #db4437;
$youtube: 	 #bf0918;

$border-radius: 3px;

// fonts
$font-stack: 'Roboto', sans-serif;
$oswald	   : 'Oswald', sans-serif;