
/*============================================================
    For 22 inch and larger
==============================================================*/
@media only screen and (min-width: 1601px) {
	.site-header {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.header-shop {
		padding: 0;
		& > .container {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}
	.navbar-nav {
		& > li {
			//margin-right: 90px;
		}
	}
	.banner-flap-1 {
		background-size: contain;
	}
	.banner-1-content {
		img {
			margin-bottom: 85px;
		}
	}
}

/*============================================================
    For 19 inch monitor
==============================================================*/
@media only screen and (min-width: 1367px) and (max-width: 1600px) {
	.navbar-brand {
		img {
			width: 140px;
		}
	}
	[class^="flap-"] img {
		display: block;
		width: 70%;
	}
	.flap-top-right img {
		margin-left: auto;
	}
}

/*============================================================
	Macbook pro 13 inch
==============================================================*/
@media only screen and (min-width: 1151px) and (max-width: 1366px) {

}


/*============================================================
	For Small Desktop / tablet landscape
==============================================================*/

@media (min-width: 980px) and (max-width: 1150px) {
	.navbar-nav > li {
	  	padding: 24px 25px 22px;
	}
	.header-simple {
		.navbar-nav > li > a {
	  		padding: 0 20px;
	  	}
		&.is-sticky {
			.navbar-nav > li {
				& > a {
		  			padding: 0 20px;
		  		}
		  		.sub-menu {
		  			margin-top: 25px;
		  		}
		  	}
		}
	}
	.speaker-info {
		padding: 49px 80px 54px;
	}
	.flap-bottom-left img,
	.flap-top-right img {
	  	width: 70%;
	}
	.flap-top-right img {
		display: block;
		margin-left: auto;
	}
	.mm-timeline-date {
	  	margin: 30px 35px 0 0;
	}
	.mm-timeline-block:nth-child(2n) .mm-timeline-date {
	  	margin: 30px 0 0 35px;
	}

	.col-md-3 {
		.price-table {
			.btn {
				padding-left: 35px;
				padding-right: 35px;
			}
		}
	}
	.price-table {
		&.style-2 {
	  		padding: 57px 40px 50px;
	  		.price::after {
	  			right: 25px;
	  		}
	  	}
	}

	.product-badge {
	  	padding: 15px 9px;
	}
	.promotion-product {
	  	background-size: 55% auto;
	  	padding: 85px 60px;
	}
}

/*============================================================
    Ipad Portrait 1024px
==============================================================*/

@media only screen and (max-width: 1025px) {
    .parallax-bg {
        background-attachment: scroll !important;
        background-position: center top !important;
        background-size: cover !important;
    }
}

/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/

@media (min-width: 768px) and (max-width: 979px) {
	.btn-wide {
	  	height: 45px;
	  	line-height: 44px;
	  	padding-left: 40px;
	  	padding-right: 40px;
	}
	.header-inner {
		@include align-items(center);
		@include flexbox();
		@include justify-content(space-between);
		&.expand {

		}
	}
	.header-shop .navbar-nav .sub-menu {
	  	right: -20px;
	}
	.navbar-nav {
		& > li {
			padding: 0;
			margin: 0 20px;
			& > a {
				padding: 0;
				.nav-item-count {
	  				display: none;
  				}
  				.nav-label {
  					margin-bottom: 0;
  				}
  			}
			.nav-desc {
				display: none;
			}
  		}
  		.dropdown::before {
  			content: none;
  		}
  		.sub-menu {
  			margin-bottom: 0;
  			margin-top: 15px;
  			position: absolute;
  			right: 0;
  			text-align: right;
  			top: 100%;
  			width: 150px;
  			&::before {
  				content: none;
  			}
  		}
  	}
  	.hamburgerIcon {
		margin-right: 0;
		position: absolute;
		right: 0;
		top: 50%;
		@include transform(translateY(-50%));
  	}
  	.site-header {
  		&.is-sticky {
  			.hamburgerIcon {
  	  			top: 50%;
  	  		}
  	  		.navbar-nav > li {
  	  		  	margin: 0 20px 0 0;
  	  		  	padding: 0;
  	  		  	& > a {
  	  		  		padding: 10px;
  	  		  	}
  	  		}
  	  	}
  	}
  	.header-simple {
  		.navbar-header {
  			height: 100px;
  		}
  		.navbar-brand {
  			height: 100px;
  			img {
  		  		width: 100px;
  		  	}
  		}
  		.navbar-nav {
  			& > li {
  				margin-left: 0;
  				margin-right: 0;
  				& > a {
  	  				padding: 0 10px;
  	  			}
  	  		}
  	  	}
  	  	&.is-sticky {
  			.navbar-nav {
  				& > li {
  					margin-right: 0;
  					& > a {
  		  				padding: 0 10px;
  		  			}
  		  		}
  		  		.sub-menu {
  		  			margin-top: 25px;
  		  		}
  		  	}
  	  	}
  	}

	.banner-2-content h2 {
	  	font-size: 50px;
	}
	.banner-3-content h2 {
		font-size: 50px;
		margin: 20px 0;
	}
	.speaker-info {
	  	padding: 31px 30px 37px;
	}
	.flap-bottom-left img,
	.flap-top-right img {
	  	width: 50%;
	}
	.flap-top-right img {
		display: block;
		margin-left: auto;
	}
	.banner-flap-2 img {
	  	width: 100%;
	}
	.mm-timeline-container::after {
	  	left: 65px;
	}
	.mm-timeline-block {
		margin-bottom: 30px;
		&:nth-child(2n) {
			.mm-timeline-content {
		  		float: right;
		  	}
		  	.mm-timeline-date {
		  		float: none;
		  		margin: 30px 0 0;
		  	}
		  }
	}
	.mm-timeline-content {
	  	max-width: 75%;
	}
	.mm-timeline-date {
		float: none;
		display: inline-block;
		margin: 30px 0 0;
	}
	.direction-form-wrap {
	  	padding: 40px;
	}
	.service-block {
	  	padding: 0;
	}
	.accommodation figcaption {
	  	padding: 19px 20px 23px;
	}
	
	.col-md-3 {
		.price-table {
			margin-bottom: 30px;
		}
	}

	.price-table {
		&.style-2 {
			padding: 67px 70px 70px;
			.price-body {
			  	display: block;
			}
			.price {
			  	padding: 0 0 70px;
			  	text-align: center;
			  	&::after {
			  		bottom: 30px;
			  		height: 1px;
			  		left: 0;
			  		right: 0;
			  		top: auto;
			  		width: 100%;
			  	}
			}
		}
	}

	.shop-slider-wrapper h2 {
	  	font-size: 38px;
	}
	.feature-row > {
		[class^="col-"] {
			&:nth-child(1) {
				border-bottom: 1px solid rgba(#000, 0.15);
			}
			&:nth-child(2) {
				border-bottom: 1px solid rgba(#000, 0.15);
				border-right: 0 none;
			}
		}
	}
	.product-carousel {
		.owl-prev {
	  		left: 30px;
	  	}
		.owl-next {
	  		right: 30px;
	  	}
	}
	.product-badge {
	  	padding: 15px 9px;
	}
	.discount-amount {
	  	@include transform (translate(-50%, -50%) rotate(0deg));
	}
	.widget-product {
		margin-bottom: 30px;
	}

	.footer-copyright {
	  	line-height: 1.5;
	}
	.page-header-inner {
	  	padding: 200px 0 90px;
	}
	.shop-slider-wrapper {
		.row {
	  		height: 50vh;
	  	}
	}
	
	.post-entry {
		.desc {
	  		padding: 38px 30px 43px;
	  		h2 {
	  			font-size: 24px;
	  		}
	  	}
	}
	.post-link {
		.link {
			font-size: 28px;
			overflow-wrap: break-word;
		}
	}
	.widget-area {
	  	//margin-top: 100px;
	}
	.product-right-sidebar {
		.widget-area {
	  		margin: 0;
	  	}
	  	.product h4 {
	  	  	font-size: 16px;
	  	}
	}
	.shop-widget {
	  	padding: 30px;
	}
	.cart-subtotal {
	  	padding-left: 10px;
	  	padding-right: 10px;
	  	hr {
	  	  	margin-left: -10px;
	  	  	margin-right: -10px;
	  	}
	}
	.woocommerce-thankyou-order-details {
	  	padding: 20px 0;
	  	li {
	  		padding: 0 15px;
	  	}
	}
}

/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/

@media only screen and (max-width: 767px) {

	.disable-flex-xs {
		display: block;
	}
	.disable-fullscreen {
		height: auto !important;
	}
	.mb-xs-30 {
		margin-bottom: 30px;
	}
	.btn-md {
	  	padding-left: 28px;
	  	padding-right: 28px;
	}
	.section-full {
	  	padding: 100px 0;
	}

	.navbar-header {
		@include flexbox();
		@include align-items(center);
		@include justify-content(space-between);
		&::before,
		&::after {
			content: none;
		}
		height: auto;
	}
	.navbar-brand {
		height: auto;
		img {
			position: relative;
			@include transform(none);
		}
		.logo-1 {
			opacity: 0;
			visibility: hidden;
			display: none;
		}
		.logo-2 {
			opacity: 1;
			visibility: visible;
		}
	}
	.navbar-toggle {
		margin: 0;
	}
	.primary-nav {
	  	background-color: #fff;
	  	border-top-color: transparent;
	  	margin-top: 20px;
	}
	.navbar-nav {
		display: block;
		max-height: 250px;
		& > li {
			padding: 0;
		  	.nav-item-count,
		  	.nav-desc {
		  		display: none;
		  	}
		  	& > a {
		  		padding: 8px 20px;
		  		text-align: left;
		  		.nav-label {
		  			margin-bottom: 0;
		  		}
		  	}
		}
		.sub-menu {
	  		display: none;
	  	  	min-width: none;
	  	  	position: relative;
	  	  	text-align: left;
	  	  	margin-bottom: 0;
		}
		.submenu-sticky {
			background-color: transparent;
		}
		.dropdown li a {
			display: block;
			font-size: 13px;
			font-weight: 500;
			padding: 3px 20px 3px 30px;
			text-transform: uppercase;
		}

		&.light {
			& > li > a {
		  		color: $text-color;
		  	}
		  	.dropdown li a {
		  	  	color: $text-color;
		  	}
		}
	}
	.navbar-nav > .dropdown:hover::before {
	    background-color: transparent;
	}
	.site-header {
		&.is-sticky {
			.navbar-brand {
	  			height: auto;
	  		}
			.primary-nav {
				border-top-color: $gray-bg-2;
				margin-top: 0;
			}
	  		.navbar-nav > li > a {
	  		  	padding: 8px 20px;
	  		}
	  		.sub-menu li a {
	  			color: $text-color;
	  		}
	  	}
	}
	.header-shop {
		padding-top: 10px;
		padding-bottom: 10px;
		.navbar-header {
			margin-bottom: 10px;
		}
		.navbar-nav {
			.sub-menu {
		  		display: none;
		  	  	min-width: none;
		  	  	position: relative;
		  	  	text-align: left;
		  	  	margin-bottom: 0;
			}
		}
	}
	.header-simple {
		.navbar-header {
			&::before, &::after {
				content: none;
			}
		}
		.navbar-brand {
			
		}
		.navbar-nav {
			& > li {
				& > a {
	  				padding: 8px 20px;
	  			}
	  		}
	  		.sub-menu {
	  			background-color: transparent;
	  			box-shadow: $box-shadow;
	  			margin-top: 0;
	  			padding: 5px 0;
	  			position: static;
	  			li {
	  				a {
	  					padding-left: 30px;
	  				}
	  			}
	  		}
	  	}
	}
	.bottom-header .navbar-nav .sub-menu {
		position: static;
	}
	.categorized-search {
		.search-categories {
	  		min-width: 100px;
	  	}
	}

	.banner-1-content {
		img {
		  	width: 50%;
		}
		h2 {
			font-size: 28px;
		}
		span {
			font-size: 13px;
			margin: 0;
		}
		p {
			font-size: 14px;
			&::before,
			&::after {
				content: none;
			}
		}
	}
	.banner-2-content {
		padding: 20px 0;
		h2 {
			font-size: 30px;
			margin-bottom: 15px;
		}
	}
	.banner-flap-2 img {
	  	width: 100%;
	}
	.banner-3-content {
		.time-slot {
			.time {
	  			font-size: 24px;
	  		}
	  		.time-label {
	  			font-size: 14px;
	  		}
	  	}
	  	h2 {
	  		font-size: 24px;
	  		margin-top: 30px;
	  	}
	  	.btn {
	  	  	padding: 0 18px;
	  	}
	}
	.banner-4-content {
		h2 {
	  		font-size: 38px;
	  	}
	}
	.section-curve .curve-bottom {
	  	bottom: 0;
	}
	.booking-form-container {
	  	background-color: rgba(#000, 0.95);
		.toggle-form {
	  		background-color: rgba(#000, 0.5);
	  	}
	}
	.booking-form {
		.input-group {
			margin-top: 5px;
		}
	}
	.banner-7-content {
		h2 {
	  		font-size: 40px;
	  	}
	  	.btn {
	  	  	padding: 0 18px;
	  	}
	}

	.event-countdown {
		padding: 14px;
		margin-right: 0;
		&::before,
		&::after {
			content: none;
		}
		.time-slot {
			margin-right: 15px;
		}
		.time {
			font-size: 19px;
		}
		.time-label {
		  	font-size: 14px;
		  	margin-left: 5px;
		}
	}

	.speaker-top .speaker-info {
		margin: 0 0 30px;
		padding: 30px; 
	}
	.btn-wide {
	  	height: 45px;
	  	line-height: 44px;
	  	padding-left: 40px;
	  	padding-right: 40px;
	}
	.speaker-info {
	  	padding: 31px 30px 37px;
	}
	.flap-bottom-left img,
	.flap-top-right img {
	  	width: 50%;
	}
	.flap-top-right img {
		display: block;
		margin-left: auto;
	}
	.mm-timeline-container::after {
	  	content: none;
	}
	.mm-timeline-block {
		margin-bottom: 100px;
		&:last-child {
			margin-bottom: 0;
		}
		&:nth-child(2n) {
			.mm-timeline-content {
		  		float: right;
		  	}
		  	.mm-timeline-date {
		  		float: none;
		  		margin: 0;
		  	}
		}
	}
	.mm-timeline-content {
		max-width: 100%;
		padding: 80px 30px 30px;
	}
	.mm-timeline-date {
		left: 50%;
		margin: 0;
		position: absolute;
		top: 0;
		@include transform (translate(-50%, -50%));
	}

	.event-schedule-tab-nav li {
	  	margin-right: 0;
	  	margin-bottom: 15px;
	  	a {
	  		text-align: center;
	  	}
	}

	.price-table,
	.accommodation {
		margin-bottom: 30px;
	}

	.price-table {
		&.style-2 {
			padding: 37px 40px 40px;
			.price-body {
			  	display: block;
			}
			.price {
			  	padding: 0 0 70px;
			  	text-align: center;
			  	&::after {
			  		bottom: 30px;
			  		height: 1px;
			  		left: 0;
			  		right: 0;
			  		top: auto;
			  		width: 100%;
			  	}
			}
		}
	}

	#event-venue {
	  	height: 350px;
	  	position: static;
	}
	.direction-form-wrap {
	  	padding: 35px 30px;
	}

	.testimonial-carousel {
	  	padding: 46px 15px 100px;
	}

	.service-block {
	  	padding: 0 30px;
	}

	.footer-copyright {
	  	line-height: 1.7;
	  	text-align: center;
	}
	.footer-social {
	  	margin-top: 20px;
	  	@include justify-content(center);
	}
	.post-entry {
		.desc {
			padding: 15px;
			h2 {
				font-size: 24px;
				line-height: 1.4;
			}
		}
		.post-meta {
			font-size: 13px;
		}
	}
	.post-link {
		.link {
			font-size: 28px;
			padding: 16px 30px 24px;
			a {
				overflow-wrap: break-word;
			}
		}
	}
	.post-share {
		margin-bottom: 35px;
		li {
			&:first-child {
	  			margin-right: 22px;
	  		}
	  		a {
	  			font-size: 12px;
	  			height: 35px;
	  			line-height: 35px;
	  			width: 35px;
	  		}
	  	}
	}
	.comment-body {
		display: block;
		padding: 15px;
		.author-vcard {
			margin-bottom: 15px;
			margin-right: 0;
		}
	}
	.comment .comment-body + .comment-body {
		margin-left: 15px;
		padding-right: 0;
	}
	.widget-area {
	  	margin-top: 100px;
	}
	.page-header-inner {
	  	padding: 150px 0 70px;
	}

	.shop-slider-wrapper {
		.row {
	  		height: auto;
	  		padding: 50px 0;
	  	}
	  	h2 {
	  	  font-size: 28px;
	  	}
	}
	.feature-row {
	  	margin-top: 0;
	}
	.product-carousel {
		.owl-nav {
	  		display: none;
	  	}
	}
	.product-tab-nav {
		display: block;
		margin-bottom: 50px;
		li {
	  		font-size: 20px;
	  		margin-bottom: 20px;
	  		text-align: center;
	  		&::after {
	  			content: none;
	  		}
	  	}
	}
	.promotion-product {
		padding: 70px 25px;
		h2 {
			font-size: 24px;
		}
		p {
			font-size: 14px;
		}
	}
	.discount-amount {
	  	font-size: 16px;
	  	white-space: nowrap;
	  	@include transform (translate(-50%, -50%) rotate(0deg));
	}
	.widget-product {
		margin-bottom: 30px;
	}
	.row.product-right-sidebar {
		.col-md-3, 
		.col-md-9 {
	  		float: none;
	  	}
	}
	// product single
	.product--summery {
	  	padding: 30px 15px 0;
	  	h2 {
	  		br {
	  			display: none;
	  		}
	  	}
	}
	.tab-1 .tab-nav li a {
	  	padding: 0 9px 15px;
	}
	.product-specs li span {
	  	padding: 5px 10px;
	}
	.calculate-tax,
	.coupon-box {
	  	margin-bottom: 50px;
	}
	.cart-subtotal {
	  	padding-left: 0;
	  	padding-right: 0;
	  	hr {
	  	  	margin-left: 0;
	  	  	margin-right: 0;
	  	}
	}
	.cart-actions {
		margin-top: 50px;
		.btn-wide {
			font-size: 12px;
			margin-left: 0;
			padding: 0 18px;
		}
	}
	.woocommerce-info {
		.login-form {
			margin-bottom: 30px;
		}
		.login-form,
		.checkout-coupon {
	  		padding-left: 0;
	  		padding-right: 0;
	  	}
	}
	.woocommerce-checkout-review-order {
		margin-top: 30px;
	}
	.woocommerce-thankyou-order-details li {
	  	border-right: 0;
	  	span {
	  		font-weight: 300;
	  	}
	  	+ li {
	  		padding-top: 25px;
	  	}
	}
	.order-details .table-1 tr > th,
	.order-details .table-1 tr > td,
	.order-details .table-1 > tfoot > tr > th,
	.order-details .table-1 > tfoot > tr > td {
	  	padding: 10px 15px;
	}
	.coming-soon-container {
	  	padding: 100px 0;
	}
	.coming-soon-text {
		img {
	  		max-width: 50%;
	  	}
	  	h2 {
			font-size: 32px;
			line-height: 1.6;
	  	}
	}
	.error-404-container {
		.row {
			width: auto;
		}
	}
	.error-404 {
	  	top: 0;
	}
	.card-information {
		.payment-actions {
		  	text-align: center;
		  	a + a {
		  		margin: 20px 0 0;
		  	}
		}
	}
}


@media only screen and (min-width: 321px) and (max-width: 360px) {

}

@media only screen and (min-width: 361px) and (max-width: 480px) {

}

@media only screen and (min-width: 481px) and (max-width: 568px) {

}

@media only screen and (min-width: 569px) and (max-width: 600px) {

}

@media only screen and (min-width: 601px) and (max-width: 640px) {

}

@media only screen and (min-width: 321px) and (max-width: 767px) {
	.speaker-top {
		.col-sm-8 {
			width: 66%;
		}
		.col-sm-4 {
			width: 34%;
		}
	}
}














